.cards-container {
  background-color: rgba(255, 255, 255, 0.812);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  height: auto;
}

.cards-container img {
  width: 20%;
  min-width: 150px;
}

.mycard {
}

@media screen and (max-width: 900px) {
  .card-details {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}
