.cards-container {
  background-color: rgba(255, 255, 255, 0.812);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  transition: height 1.5s ease-in;
  width: 100%;
}

.sidebar {
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 1s ease-in-out;
  color: white;
}

.sidebar.open {
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5rem;
}

.cards-container img {
  width: 15%;
  /* min-width: 150px; */
}

.mycard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media screen and (max-width: 900px) {
  .card-details {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}
