/* @media (max-width: 576px) {
  .navbar-toggler {
    display: block !important;
  }

  .navbar-collapse {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
  }
} */
